body{
    margin:0;
}
.container{
    padding: 3%;
  
}
.list-country{
    margin: .5vw;      
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow:row wrap;
    flex-flow: row wrap;
    display: flex;
}
.list-country .card-country{
    -webkit-box-flex: auto;
    -ms-flex:auto;
    flex:auto;
    width:50;
    margin: .5vw;
    height: 100%;
}



body{

    background-color: black;
    color:white;
    font-family: 'PT Mono', monospace;
}
.list-country{
        flex-wrap: wrap;
}

.country-name{

        font-weight:900;
        font-size: 3rem;
        padding-bottom: 1.5%;
        

    }
.card-country{
        background-color: rgb(36, 35, 35);   
        
        padding-top:2.5%;
        padding-bottom:2.5%;
        padding-left:1%;
        padding-right:1%;
    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    
    }
    .title-name{
        font-size: 4rem;
        text-align: center;
        padding: 2%;
        font-weight: bolder;    }



.search-country{
    padding-bottom:2% ;
}
.search-bar{
    width:70%;
height: 50px;
font-family: 'PT Mono', monospace;
}

/* span,  p {
animation: animated-text 4s steps(29,end) 1s 1 normal both,
            animated-cursor 600ms steps(29,end) infinite;
}



@keyframes animated-text{
from{width: 0%;}
to{width: 100%;}
}


@keyframes animated-cursor{
from{border-right-color: rgba(240, 94, 138, 0.75);}
to{border-right-color: transparent;}
} */